<suite name="Suite Principal">
  <test name="Login Tests">
    <classes>
      <class name="test_login.Login"/>
    </classes>
  </test>
  <test name="Register Tests">
    <classes>
      <class name="test_register.Register"/>
    </classes>
  </test>
  <test name="Login API Tests">
    <classes>
      <class name="test_login_api.LoginAPI"/>
    </classes>
  </test>
</suite>